<growl-notifications>
  <growl-notification ng-class="{showMe: showGrowlWarning}" class="growl-warning fading">Scroll Down Please.</growl-notification>
</growl-notifications>
<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Complain Or Application </a>
	<h2 ng-click="printChild()">Dashboard<br/><small>Here you will see the list of your children registered in our school system.</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1 data-toggle="modal" data-target="#testingModal1">Welcome!<br/>Mr/Mrs {{toCamelCase(userData.NAME)}}</h1>
			&nbsp;
			<table class="table" ng-hide="error.status">
				<thead>
					<tr>
						<th>Student Name</th>
						<th>Class</th>
						<th>Section</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="child in children.data" data-ng-click="$parent.childName = child; $parent.showGrowlWarning = true; $parent.childSelected(child)" ng-class="{selectedChild: child.ID==childName.ID}" popover-placement="left" popover="scroll down">
						<td>{{toCamelCase(child.STUDENT)}}</td>
						<td>{{child.CLASS}}</td>
						<td>{{child.SECTION}}</td>
						<td><i class="glyphicon glyphicon-pencil"></i></td>
					</tr>
				</tbody>
			</table>
			<div ng-show="error.status" class="errorMessage"><i class="glyphicon glyphicon-info-sign errorMessageIcon"></i> {{error.message}}</div>
			<br /><br />
		</div>
	</div>

	<!-- four boxes that appear on child click -->
	<div class="row" ng-show="childName!=''">
		<div class="col-sm-3" ng-repeat="option in defaults.options" data-ng-click="childClicked(option.name)">
			<div class="panel panel-default">
				<div class="panel-body">
					<i class="glyphicon optionsPanel" ng-class="option.icon"></i>	
					<div class="text-center"> {{option.name}} </div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="modalsTemplates">
		<div id="testingModal1" class="modal fade bs-example-modal-md" ng-class="{modalVisibility: !defaults.modalClosed}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" ng-click="closeDialog(true)">
      <div class="modal-dialog modal-md modalMargin">
        <div class="modal-content modalContent" ng-click="closeDialog(false)">
          <i class="glyphicon glyphicon-remove closeDialog" ng-click="closeModal()"></i>
          <div class="modalTitle"><b>{{defaults.activityTitle}}</b></div>
          <div class="modalBody">
            <div class="modalDetails">{{childName.STUDENT}} of Class {{childName.CLASS}}-{{childName.SECTION}} </div>
            <div class="modalReq Left">
            		<div ng-if="defaults.activityTitle != 'Fees'">
	                Select {{(defaults.activityTitle != 'Activity Report' && defaults.activityTitle != 'Home Work') ? "Start" : ""}} Date: <br/> 
	                <input type="date" class="datepicker" ng-model="defaults.date.start" ng-change="onDateChangedListener()">
	              </div>
            </div>
            <div class="modalReq Right">
            	<div ng-if="defaults.activityTitle == 'Activity Report'">
	                Select Subject: <br/>
	                <select ng-model="defaults.subject" class="modalDropDown" ng-value="defaults.subject.name" ng-options="subject as subject.COURSE for subject in childName.ActivityDetails" ng-change="courseDetailChanged()"></select>
	            </div>
            	<div ng-if="defaults.activityTitle == 'Home Work'">
	                Select Subject: <br/>
	                <select ng-model="defaults.subject" class="modalDropDown" ng-value="defaults.subject.name" ng-options="subject as subject.SUBJECT for subject in childName.DailyDiary" ng-change="courseDetailChanged()"></select>
	            </div>
	              <div ng-if="defaults.activityTitle == 'Attendance Details'">
									<ul class="statusList">
										<li>Holiday <i class="attendanceColor glyphicon glyphicon-stop infoStatus"></i></li>
										<li>Half Day <i class="attendanceColor glyphicon glyphicon-stop warningStatus"></i></li>
										<li>Absent <i class="attendanceColor glyphicon glyphicon-stop dangerStatus"></i></li>
										<li>Present <i class="attendanceColor glyphicon glyphicon-stop successStatus"></i></li>
									</ul>
	              </div>
            </div>
            <div class="modalResults">
            	<div ng-if="defaults.isLoading" class="loadingGif"><img src="images/loading.gif"></div>
          		<div ng-if="(defaults.activityTitle == 'Activity Report') && defaults.subject != -1 && !defaults.isLoading && childName.ActivityDetails.length > 0">
	            	{{defaults.activityTitle}} for <b>{{defaults.date.start.toDateString()}}</b><br/>
	            	<span>Title: <b>{{defaults.subject.SUBJECT}}</b></span>
	            	<br/><br/>
	            	<p class="width-matchParent">{{defaults.subject.DETAIL}}</p>
	            </div>
          		<div ng-if="(defaults.activityTitle == 'Home Work') && defaults.subject != -1 && !defaults.isLoading && childName.DailyDiary.length > 0">
	            	{{defaults.activityTitle}} for <b>{{defaults.date.start.toDateString()}}</b><br/>
	            	<span>Diary Title: <b>{{defaults.subject.TITLE}}</b></span>
	            	<br/><br/>
	            	<p>{{defaults.subject.DIARY}}</p>
	            </div>
	            <div ng-if="(defaults.activityTitle == 'Activity Report') && childName.ActivityDetails.length == 0">
	            	No Activity Report Added for this date.
	            </div>
	            <div ng-if="(defaults.activityTitle == 'Home Work') && childName.DailyDiary.length == 0">
	            	No Home Work Added for this date.
	            </div>
	            <div ng-if="defaults.activityTitle == 'Fees'">
	            &nbsp;
								<accordion> 

                                		<div class="panel-group">
										<div class="panel panel-default" ng-repeat="singleFee in childName.fees">
								  		<div class="panel-heading" ng-click="(defaults.feesCounter==$index) ? defaults.feesCounter=-1 : defaults.feesCounter=$index">
								    		<h4 class="panel-title">
								      		<a href="" class="accordion-toggle">
								      			<span >{{singleFee.FEESDATED.split("-")[1]}}</span>
								      		</a>
								    		</h4>
								  		</div>
								  		
								  		<div class="panel-collapse" ng-class="{collapse: $index != defaults.feesCounter}">
									  		<div class="panel-body">
									  			<ul class="list-group">
									  				<li class="list-group-item">
											  			<span class="bold"> Voucher no. </span>
											  			<i class="feesDetail">{{singleFee.VOUCHER_NO}}</i>
											  		</li>
											  		<li class="list-group-item">
											  			<span class="bold"> Fees Date </span>
											  			<i class="feesDetail">{{singleFee.FEESDATED}}</i>
											  		</li>
											  		<li class="list-group-item">
											  			<span class="bold"> Total Fees </span>
											  			<i class="feesDetail">{{singleFee.TOTALFEES}}</i>
											  		</li>
											  		<li class="list-group-item">
											  			<span class="bold"> Received Date </span>
											  			<i class="feesDetail">{{singleFee.RECEIVEDATED}}</i>
											  		</li>
									  			</ul>
									  		</div>
								  		</div>
										</div> 
									</div>
								</accordion>
	            </div>
	            <div ng-if="defaults.activityTitle == 'Attendance Details'">
	            	<table class="table table-bordered">
	            		<thead>
	            			<tr>
	            				<th class="halfWidth">Dates</th>
	            				<th>Days</th>
	            				<th class="halfWidth">Status</th>
	            			</tr>
	            		</thead>
	            		<tbody>
	            			<tr ng-repeat="t in getTimes(7) track by $index" 
	            			ng-class="attendanceStatus($index)" ng-hide="(defaults.date.start.getDate() + $index) > 31">
	            				<td>{{defaults.date.start.getDate()+$index}}</td>
	            				<td>{{defaults.weekDay[(defaults.date.start.getDay() + $index)%7]}}</td>
	            				<td>{{children.data[0].Attendance[0][dayName(defaults.date.start.getDate() + $index)]}}</td>
	            			</tr>
	            		</tbody>
	            	</table>
	            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>