<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Complains</a>
	<h2>Dashboard<br/><small>Here you will see the list of your children registered in our school system.</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!<br/>Mr/Mrs {{userData.name}}</h1>
			&nbsp;
			<table class="table" ng-hide="error.status">
				<thead>
					<td>Student Name</td>
					<td>Actions</td>
				</thead>
				<tbody>
					<tr ng-repeat="child in children" data-ng-click="$parent.childName = child">
						<td>{{child.name}}</td>
						<td><i class="glyphicon glyphicon-pencil"></i></td>
					</tr>
				</tbody>
			</table>
			<div ng-show="error.status" class="errorMessage"><i class="glyphicon glyphicon-info-sign errorMessageIcon"></i> {{error.message}}</div>
			<br /><br />
			<p ng-show="childName!=''">
				<small>Options for {{childName.name}}</small><br/><br/>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="childClicked('Home Work'); childName=''">Home Work</a>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="childClicked('Attendance'); childName=''">Attendance</a>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="childClicked('Fees'); childName=''">Fees</a>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" ng-click="childClicked('Application'); childName=''">Application</a>
			</p>
		</div>
	</div>
</div>