<div id ='bloodCultureContaminationRate' class="rightTabOne"  ng-controller="BloodCultureContaminationRateCtrl">
  <form  ng-submit="save()" name="KPI">  
  <div  class="rightTabOneHeading">
    % Blood Culture Contamination Rate
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInnerMain clabsiInnerMainOne">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiOne">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Building</label>
          <select ng-model="bloodCultureContaminationRate.buildings" required="required">
            <option ng-repeat="building in buildings" >{{building}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Date</label>
          <input class="" type="date" ng-model="bloodCultureContaminationRate.date" required="required">
        </div>

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>No of contaminated blood culture: </label><input type="text" ng-model="bloodCultureContaminationRate.contaminatedBloodCulture" required="required">
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Total number of proceeded blood cultures: </label><input type="text" ng-model="bloodCultureContaminationRate.totalProceededBloodCultures" required="required">
        </div>
        <div class="clearfix"></div>
      </div>    
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInputsDiv noClabsiBtn">
        <button ng-click="save()">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
</div>