<div id ='complianceVerbalOrder' class="rightTabOne"  ng-controller="ComplianceVerbalOrderCtrl">
  <form  ng-submit="save()" name="KPI">
  <div  class="rightTabOneHeading">
    % Compliance with Verbal order
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInnerMain clabsiInnerMainOne">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiOne">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Department</label>
          <select ng-model="complianceVerbalOrder.departments" required="required">
            <option ng-repeat="department in departments" >{{department}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Date</label>
          <input class="" type="date" ng-model="complianceVerbalOrder.date" required="required">
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Building</label>
          <select ng-model="complianceVerbalOrder.buildings" required="required">
            <option ng-repeat="building in buildings" >{{building}}</option>
          </select>
        </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>No. of verbal order that comply with the policy: </label><input type="text" ng-model="complianceVerbalOrder.verbalOrderWithPolicy" required="required">
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Total number of verbal orders: </label><input type="text" ng-model="complianceVerbalOrder.totalVerbalOrder" required="required">
        </div>
        <div class="clearfix"></div>
      </div>    
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInputsDiv noClabsiBtn">
        <button ng-click="save()">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
</div>