<div id ='highAlertMedications' class="rightTabOne"  ng-controller="HighAlertMedicationsCtrl">
  <form  ng-submit="save()" name="KPI">  
  <div  class="rightTabOneHeading">
    % of High Alert Medications properly labeled
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInnerMain clabsiInnerMainOne">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiOne">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Department</label>
          <select ng-model="highAlertMedications.departments" required="required">
            <option ng-repeat="department in departments" >{{department}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Building</label>
          <select ng-model="highAlertMedications.buildings" required="required">
            <option ng-repeat="building in buildings" >{{building}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Date</label>
          <input class="" type="date" ng-model="highAlertMedications.date" required="required">
        </div>

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Number of high alert medication: </label><input type="text" ng-model="highAlertMedications.numberOfHighAlertMedication" required="required">
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Total number of available high alert medications: </label><input type="text" ng-model="highAlertMedications.totalAvailableHighAlertMedications" required="required">
        </div>
        <div class="clearfix"></div>
      </div>    
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInputsDiv noClabsiBtn">
        <button ng-click="save()">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
</div>