<div id='pressureUlcers' class="rightTabOne"  ng-controller="PressureUlcersCtrl">
  <form  ng-submit="save()" name="KPI">  
  <div  class="rightTabOneHeading">
    Patients Developed Pressure Ulcer
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInnerMain clabsiInnerMainOne">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiOne">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Date</label>
          <input class="" type="date" ng-model="pressureUlcers.date" required="required">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Department</label>
          <select ng-model="pressureUlcers.departments" required="required">
            <option ng-repeat="department in departments" >{{department}}</option>
          </select>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Building</label>
          <select ng-model="pressureUlcers.buildings" required="required">
            <option ng-repeat="building in buildings" >{{building}}</option>
          </select>
        </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Patients With Pressure Ulcres:</label><input type="text" ng-model="pressureUlcers.patientsWithPressure" required="required">
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>HW Patient Days:</label><input type="text" ng-model="pressureUlcers.HWPatientDays" required="required">
        </div>
        <div class="clearfix"></div>
      </div>    
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInputsDiv noClabsiBtn">
        <button ng-click="save()">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
</div>