<div id='rejectedSpecimens' class="rightTabOne"  ng-controller="rejectedSpecimensCtrl">
  <form  ng-submit="save()" name="KPI">  
  <div  class="rightTabOneHeading">
    % Rate of Rejected Specimens
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInnerMain clabsiInnerMainOne">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiOne">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Date</label>
          <input class="" type="date" ng-model="rejectedSpecimens.date" required="required">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Building</label>
          <select ng-model="rejectedSpecimens.buildings" >
            <option ng-repeat="building in buildings" required="required">{{building}}</option>
          </select>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>No. Of Rejected Samole:</label><input type="text" ng-model="rejectedSpecimens.rejected" required="required">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Total No. Of Deleiver Sample:</label><input type="text" ng-model="rejectedSpecimens.deleiver" required="required">
        </div>
        <div class="clearfix"></div>
      </div>    
      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInputsDiv noClabsiBtn">
        <button ng-click="save()">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
</div>