
<div class="headerMain innerHeader">
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 headerICU" ng-class="{headerMargin: showMenu}">Financial Management</div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 dateMain">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dateDay form-group">
      <select class="form-control" id="sel1">
        <option selected="Day">Day</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dateMonth form-group">
      <select class="form-control" id="sel1">
        <option selected="Month">Month</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dateYear form-group">
      <select class="form-control" id="sel1">
        <option selected="Year">Year</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div style="height: 150px;"></div>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/revenue.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/grossprofit.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/ebitda.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/netcashflow.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/hOProfitBed.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/LiquidityRatio.html'"></section>

<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/CostPerDischarge.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/ActualAndBudgetedPatientDays.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/AccountsReceivable.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/FinancialManagement/views/ActualAndTargetedRevenue.html'"></section>