<div id ='complicationHITPatients' class="rightTabOne"  ng-controller="complicationHITPatientsCtrl">
  <form  ng-submit="save()" name="KPI">   
  <div  class="rightTabOneHeading">
    % Complication of HIT patients
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInnerMain clabsiInnerMainOne">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiOne">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>MRN: </label><input type="text" ng-model="complicationHITPatients.mrn" required="required">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Date</label>
          <input class="" type="date" ng-model="complicationHITPatients.date" required="required">
        </div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>No. of HIT pt with complication: </label><input type="text" ng-model="complicationHITPatients.hitComplication" required="required">
       </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 clabsiInputsDiv" >
          <label>Patients who developed HIT: </label><input type="text" ng-model="complicationHITPatients.developedHit" required="required">
        </div>
        <div class="clearfix"></div>
      </div>    
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 noClabsiInputs">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clabsiInputsDiv noClabsiBtn">
        <button ng-click="save()">Save</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</form>
</div>