
<div class="headerMain innerHeader">
  <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 headerICU" ng-class="{headerMargin: showMenu}">Clinical Performance</div>
  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 dateMain">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dateDay form-group">
      <select class="form-control" id="sel1">
        <option selected="Day">Day</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dateMonth form-group">
      <select class="form-control" id="sel1">
        <option selected="Month">Month</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 dateYear form-group">
      <select class="form-control" id="sel1">
        <option selected="Year">Year</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div style="height: 150px;"></div>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/successfulCardioPulmonaryResuscitation.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/unexpectedMortalityICU.html'"></section>

<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/standardizedMortality.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/ardsMortality.html'"></section>
</section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/nosocomialClosterium.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/therapeuticAnticoagulationBleeding.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/therapeuticAnticoagulation.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/rateOfDocumentedPEDVT.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/complianceAdmission.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/complicationHITPatients.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/heparineThrompothytopenia.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/baselineGcs.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/septicShock.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/complianceSepsis.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/complianceLungs.html'"></section>
<section class="clabsi" ng-class="{bodyMargin: showMenu}" ng-include="'app/modules/clinicalPerformance/views/complianceHypothermia.html'"></section>

