<div class="tabLeftMain" ng-show="showMenu">
  <div class="ice-logo">
    <img src="assets/images/IEC_logo.png" >
  </div>    
  <ul class="firstList" ng-init="activeMenu = ''">
    <li ng-click="activeMenu = 'IC'"><a  ui-sref="InfectionControl" >Infection Control</a>
      <ul class="secondList" ng-show="activeMenu == 'IC'" ng-controller="InfectionControlCtrl" >
        <li ><a ng-click="gotoAnchor('CLABSI')">CLABSI</a></li>
        <li ><a ng-click="gotoAnchor('CAUTI')">CAUTI</a></li>
        <li ><a ng-click="gotoAnchor('CentralVenousCatheterUtilizationRatio')">Central Venous Catheter</a></li>
        <li ><a ng-click="gotoAnchor('VAP')">VAP</a></li>
        <li ><a ng-click="gotoAnchor('UrinaryCatheter')">Urinary Catheter</a></li>
        <li ><a ng-click="gotoAnchor('Vaccination')">Vaccination</a></li>
        <li ><a ng-click="gotoAnchor('handHygeine')">Hand Hygeine</a></li>
        <li ><a ng-click="gotoAnchor('ventilatorUtilizationRatio')">Ventilator Utilization Ratio</a></li>
        <li ><a ng-click="gotoAnchor('handSanitizer')">Hand Sanitizer consumption rate</a></li>
        <li ><a ng-click="gotoAnchor('FluidExposure')">Blood and Body Fluid Exposure</a></li>
        
      </ul>
    </li>
    <li ng-click="activeMenu = 'BBP'"><a  ui-sref="BloodProduct" >Blood Product</a>
      <ul class="secondList" ng-show="activeMenu == 'BBP'" ng-controller="BloodProductCtrl" >
        <li ><a ng-click="gotoAnchor('UBU')">Utilization Blood Unit</a></li>
        <li ><a ng-click="gotoAnchor('WBU')">Wasted Blood Unit</a></li>
        <li ><a ng-click="gotoAnchor('CMT')">Crossed Match Transfusion</a></li>
        <li ><a ng-click="gotoAnchor('RAT')">Rate Of Adverse Transfusion</a></li>
      </ul>
    </li>
    <li ng-click="activeMenu = 'FM'"><a  ui-sref="FinancialManagement" >Financial Management</a>
      <ul class="secondList" ng-show="activeMenu == 'FM'" ng-controller="FinancialManagementCtrl" >
        <li ><a ng-click="gotoAnchor('Revenue')">$ Revenue ( for inpatient)</a></li>
        <li ><a ng-click="gotoAnchor('GrossProfit')">% Gross profit</a></li>
        <li ><a ng-click="gotoAnchor('EBITDA')">% EBITDA</a></li>
        <li ><a ng-click="gotoAnchor('NCF')">$ Net Cash Flow</a></li>
        <li ><a ng-click="gotoAnchor('HOP')">$ HO Profit/Bed</a></li>
        <li ><a ng-click="gotoAnchor('LR')"># Liquidity ratio</a></li>
        <li ><a ng-click="gotoAnchor('CostPerDischarge')">$ Cost per discharge</a></li>
        <li ><a ng-click="gotoAnchor('PatientDays')">% Actual Vs Budgeted PD</a></li>
        <li ><a ng-click="gotoAnchor('ActualRevenue')">% Actual Vs Targeted Revenue</a></li>
        <li ><a ng-click="gotoAnchor('DaysInAccountsReceivable')"># Days in accounts receivable</a></li>        
      </ul>
    </li>
    <li ng-click="activeMenu = 'QIPS'"><a  ui-sref="QIPS" >QIPS</a>
      <ul class="secondList" ng-show="activeMenu == 'QIPS'" ng-controller="QIPSCtrl" >
        <li ><a ng-click="gotoAnchor('PIP')">Patient In Pain</a></li>
        <li ><a ng-click="gotoAnchor('PIS')">Patient Screened</a></li>
        <li ><a ng-click="gotoAnchor('RAE')">Rate Of Adverse Events</a></li>        
        <li ><a ng-click="gotoAnchor('selfExtubation')">Self Extubation</a></li>          
        <li ><a ng-click="gotoAnchor('complianceVerbalOrder')">Compliance Verbal Order</a></li>
        <li ><a ng-click="gotoAnchor('closedOVR')">Closed OVR</a></li>
        <li ><a ng-click="gotoAnchor('patientUndesirableWeightChange')">Patient Undesirable Weight Change</a></li>
        <li ><a ng-click="gotoAnchor('patientAssessment')">Patient Assessment</a></li>
        <li ><a ng-click="gotoAnchor('bloodCultureContaminationRate')">Blood Culture Contamination Rate</a></li>
        <li ><a ng-click="gotoAnchor('highAlertMedications')">High Alert Medications</a></li>
        <li ><a ng-click="gotoAnchor('patientFalls')">Patient Falls</a></li>
        <li ><a ng-click="gotoAnchor('pressureUlcers')">Patients With Pressure Ulcres</a></li>
        <li ><a ng-click="gotoAnchor('completeRecords')">Completeness Of Medical Records</a></li>
        <li ><a ng-click="gotoAnchor('rejectedSpecimens')">% Rate of Rejected Specimens</a></li>
        <li ><a ng-click="gotoAnchor('patientsProperlyIdentified')">Patients Properly Identified</a></li>
      </ul>
    </li>
    <li ng-click="activeMenu = 'ClinicalPerformance'"><a  ui-sref="ClinicalPerformance" >Clinical Performance</a>
      <ul class="secondList" ng-show="activeMenu == 'ClinicalPerformance'" ng-controller="ClinicalPerformanceCtrl" >
        <li ><a ng-click="gotoAnchor('pulmonaryResuscitation')">Successful Cardio Pulmonary Resuscitation</a></li>
        <li ><a ng-click="gotoAnchor('unexpectedMortalityICU')">Unexpected Mortality - ICU</a></li>
        <li ><a ng-click="gotoAnchor('standardizedMortality')">Standardized Mortality: using mean APACHE II</a></li>        
        <li ><a ng-click="gotoAnchor('documentedPE')">Rate of documented PE/DVT per susceptible patients</a></li>
        <li ><a ng-click="gotoAnchor('complianceVerbalOrder')">Rate of nosocomial closterium difficile.</a></li>          
        <li ><a ng-click="gotoAnchor('complicationHITPatients')">Complication of HIT patients.</a></li>
        <li ><a ng-click="gotoAnchor('heparineThrompothytopenia')">Rate of heparine induced thrompothytopenia (HIT).</a></li>
        <li ><a ng-click="gotoAnchor('baselineGcs')">Return to baseline GCS in ROSC pt.</a></li>
        <li ><a ng-click="gotoAnchor('selfExtubation')">Rate of documented PE/DVT per susceptible patients</a></li>          
        <li ><a ng-click="gotoAnchor('nosocomialClosterium')">Rate of nosocomial closterium difficile.</a></li>
        <li ><a ng-click="gotoAnchor('closedOVR')">Compliance with admission crieteria</a></li>
        <li ><a ng-click="gotoAnchor('documentedPE')">Rate of documented PE/DVT per susceptible patients</a></li>          
        <li ><a ng-click="gotoAnchor('complianceVerbalOrder')">Rate of nosocomial closterium difficile.</a></li>
        <li ><a ng-click="gotoAnchor('complianceAddmission')">Compliance with admission crieteria</a></li>
        <li ><a ng-click="gotoAnchor('septicShock')">Septic shock Mortality Rate</a></li>
        <li ><a ng-click="gotoAnchor('ardsMortality')">ARDS mortality</a></li>
        <li ><a ng-click="gotoAnchor('complianceSepsis')">Compliance With Sepsis Bundles</a></li>
        <li ><a ng-click="gotoAnchor('complianceLungs')">Compliance Lung Protective Strategy</a></li>
        <li ><a ng-click="gotoAnchor('complianceHypothermia')">% Compliance Of Hypothermia Guidline In ROSC PT</a></li>
        <li ><a ng-click="gotoAnchor('AnticoagulationBleeding')">Patient on therapeutic anticoagulation with bleeding as a complication</a></li>
        <li ><a ng-click="gotoAnchor('therapeuticAnticoagulation')">Patient on therapeutic anticoagulation</a></li>

      </ul>
    </li>

        <li ng-click="activeMenu = 'HumanResource'"><a  ui-sref="HumanResource" >Human Resource</a>
      <ul class="secondList" ng-show="activeMenu == 'HumanResource'" ng-controller="HumanResourceCtrl" >
        <li ><a ng-click="gotoAnchor('completedCompetencyAssessment')">staff who completed the competency assessment</a></li>
        <li ><a ng-click="gotoAnchor('employeeSatisfaction')">Employee Satisfaction</a></li>
        <li ><a ng-click="gotoAnchor('satisfactoryCompetencyAssessment')">Staff with satisfactory competency assessment</a></li>
        <li ><a ng-click="gotoAnchor('trainingInvestment')">Training investment per full time equivalent (FTE)</a></li><li ><a ng-click="gotoAnchor('budgetDiscrepancy')">Discrepancy between budgeted and utilized HR budget</a></li>
      </ul>
    </li>

    <li ng-click="activeMenu = 'Supplies'"><a  ui-sref="Supplies" >Supplies</a>
      <ul class="secondList" ng-show="activeMenu == 'Supplies'" ng-controller="SuppliesCtrl" >
        <li ><a ng-click="gotoAnchor('leadTimeForDelivery')">Lead Time For Delivery Of Pharmaceuticals</a></li>
      </ul>
    </li>

    <li ng-click="activeMenu = 'MedicationManagement'"><a  ui-sref="MedicationManagement" >Medication Management</a>
      <ul class="secondList" ng-show="activeMenu == 'MedicationManagement'" ng-controller="MedicationManagementCtrl" >
        <li ><a ng-click="gotoAnchor('unjustifiableAB')"> Unjustifiable AB</a></li>
        <li ><a ng-click="gotoAnchor('drugReaction')"> Rate of Adverse Drug  Reaction</a></li>
      </ul>
    </li>

        <li ng-click="activeMenu = 'Satisfaction'"><a  ui-sref="Satisfaction" >Satisfaction</a>
      <ul class="secondList" ng-show="activeMenu == 'Satisfaction'" ng-controller="SatisfactionCtrl" >
        <li ><a ng-click="gotoAnchor('patientSatisfaction')"> # Patient satisfaction score index</a></li>
      </ul>
    </li>
  </ul>
</div>